.div-class {
  position: absolute;
  left: 146px;
  top: 251px;
}
.icon-fire {
  height: 34px;
  width: 50px;
  position: absolute;
  top: -85px;
}
.label-name {
  top: -40px;
  position: absolute;
  left: -25px;
  width: max-content;
}
.label-value {
  top: -13px;
  position: absolute;
  left: 14px;
  width: max-content;
}
.parent {
  /* height: 200px; */
}
.parent > div {
  width: calc(100% / 2);
  height: 100%;
  float: left;
}
/* 
::ng-deep .ngx-charts .bar.active,
.ngx-charts .bar:hover,
.ngx-charts .cell.active,
.ngx-charts .cell:hover,
.ngx-charts .arc.active,
.ngx-charts .arc:hover,
.ngx-charts .card.active,
.ngx-charts .card:hover {
  opacity: 0.8;
  -webkit-transition: opacity 100ms ease-in-out !important;
  transition: opacity 100ms ease-in-out !important;
  transform: scale(1.1) !important;
  transition: transform 0.2s !important;
} */
/* ::ng-deep .ng-star-inserted:hover {
  background-color: red;
} */
