$colordata: var(--colordata);

.div-class {
  position: absolute;
  left: 146px;
  top: 251px;
}
.icon-fire {
  height: 34px;
  width: 50px;
  position: absolute;
  top: -85px;
}
.label-name {
  top: -40px;
  position: absolute;
  left: -25px;
  width: max-content;
}
.label-value {
  top: -13px;
  position: absolute;
  left: 14px;
  width: max-content;
}
.parent > div {
  width: calc(100% / 2);
  height: 100%;
  float: left;
}
::ng-deep .arc:hover {
  // transition: transform 8s;
  stroke: $colordata;
  stroke-width: 6px;
  transition: 0.5s ease-in !important;
}
